<table mat-table [dataSource]="categoryList" class="mat-elevation-z8">

  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>

  <ng-container matColumnDef="categoryName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
  </ng-container>

  <ng-container matColumnDef="isLive">
    <th mat-header-cell *matHeaderCellDef> Live </th>
    <td mat-cell *matCellDef="let element">
      <mat-button-toggle-group>
        <mat-button-toggle value="Yes" [checked]="element.isLive">
          Yes
        </mat-button-toggle>
        <mat-button-toggle value="No" [checked]="!element.isLive">
          No
        </mat-button-toggle>
      </mat-button-toggle-group>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
